{{ define "content" }}
<table>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Waist</th>
        <th>BP</th>
    </tr>
    <tr>
        <td>2025-11-13</td>
        <td>182</td>
        <td>32</td>
        <td>120/80</td>
    </tr>
    <tr>
        <td>2025-11-13</td>
        <td>182</td>
        <td>32</td>
        <td>120/80</td>
    </tr>
    <tr>
        <td>2025-11-13</td>
        <td>182</td>
        <td>32</td>
        <td>120/80</td>
    </tr>
    <tr>
        <td>2025-11-13</td>
        <td>182</td>
        <td>32</td>
        <td>120/80</td>
    </tr>
    <tr>
        <td>2025-11-13</td>
        <td>182</td>
        <td>32</td>
        <td>120/80</td>
    </tr>
</table>
<a href="/entry/new">Add entry</a>
{{ end }}
